.catalog {
  width: 100%;
  margin-bottom: 30px;
  
  &--content {
    .catalog__item {
      margin-right: 50px;
    }
    .catalog__item:nth-child(4n) {
      margin-right: 0;
    }
  }
  
  &--recent {
    .catalog__item:nth-child(6n) {
      margin-right: 0;
    }
  }
}

.catalog__list {
  .reset();
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.catalog__item {
  position: relative;
  width: 195px;
  margin-right: 15px;
  margin-bottom: 20px;
}

.catalog__link {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  text-decoration: none;
  
  &:hover,
  &:active {
    .catalog__title span {
      border-bottom: 1px dashed #fff;
      .transition();
    }
    .catalog__img img {
      transform: scale(1.02);
      .transition();
    }
  }
}

.catalog__img {
  width: 100%;
  height: 213px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAD8CAMAAAHlF04eAAAAjVBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAANDQ0AAAAAAAAAAAAdHR0HBweJiYl6enpwcHCtra1hYWGhoaGenp6cnJzW1tbNzc3Ly8vw8PDn5+fv7+/w8PD39/fu7u74+Pj39/f19fX7+/v+/v7////HlT2SAAAALnRSTlMAAQIDBAUHCAkKCw0ODxAREhMTFhgaGiQnLDA1Nzk6O11hYpqorbnCxtjZ2+f63L8cSAAAAJRJREFUSMftkkkOwkAMBDvBCZkJEMK+Q9gJM/3/53EgggfACA6W26WSfLJlACBDpZpCwI+q4Agkf9KtGK4OeJ6gke6lk8CRvINsVlIGpa04sYhEImTLWYYtucBrrlB8G548ovSnHmJJjTWpxDDFxvE27+dYO5JkvXr+5/tT1dTU1P7WfCNXlHtP8jweIrHF7jDI2/IATOqP68pz1hkAAAAASUVORK5CYII=') repeat-x 0px 0px;
  overflow: hidden;
  
  img {
    display: block;
    max-height: 100%;
    .transition();
  }
}

.catalog__info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  color: #fff;
  text-align: center;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAARCAYAAAF4E7ZwAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALNJREFUeNpi/P//PwMIMDFAAZwBEEAMICkwj/nKlSu9AAHEDOL+/fs3+eDBg+cZYdpAACCAGHGbgckACCAUnZh2EhJkAREhISG9QKoIiPvWrFlTDBBAGGYyETSLGgKMqampVe/fv28FWS8rK1sIDjGQYAEQgNgAAYbVsxjGDFVFLGlpaVXv3r0ThsYFPNEwMjKCmH3AMHkMNwmk+O3bt8JMTExF//7965OTk3vc398/ASQHAOxnYGsTdMeHAAAAAElFTkSuQmCC') repeat-x 0 100% rgba(83, 83, 83, 0.8);
}

.catalog__title {
  margin-top: 0;
  text-transform: uppercase;
  
  span {
    border-bottom: 1px solid rgba(255,255,255,0);
    .transition();
  }
}

.catalog__price {
  margin-top: auto;
  margin-bottom: 0;
  font-size: 36px;
}

.catalog__sale {
  font-weight: 400;
  margin-right: 6px;
  font-size: 20px;
  color: #aa3739;
  text-decoration: line-through;
}

.catalog__label {
  display: block;
  position: absolute;
  z-index: 3;
  color: #fff;
  top: 18px;
  left: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  padding: 5px 0;
  width: 52px;
  text-align: center;
  background: #aa3739;
  
  &--hidden {
    display: none;
  }
}

.catalog__links {
  .reset();
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.catalog__field {
  width: 30%;
  margin-right: 5%;
  font-size: 14px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 15px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAyCAMAAAHO9THaAAAAdVBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAANDQ0AAAAAAAAAAAAdHR0HBweJiYl6enpwcHCtra1hYWGhoaGcnJyenp7W1tbNzc3Ly8vw8PDn5+fv7+/w8PD39/fu7u739/f4+Pj19fX7+/v+/v7////A7FUcAAAAJ3RSTlMDBAYHCAkKCwwNDQ8REhIZGx8iJScoKSlBREVsdnmCiIuYmJqir7NBxqBCAAAAdUlEQVQoz9WOyQ6CMABEh1qkdUUFFHekff//iR4kLnAz8WBmySSTSUZKBB+0VhfxhkArYKBs3J8OWS/kAs1M0M2+8BpYymxyowrWela/tghH+XjKNHLbwG3lU5UBgKZ4nHvd/NsUu3CV30fgPJ8qsW53mKRGd9GBPkCfbqHIAAAAAElFTkSuQmCC');
  background-repeat: repeat-x;
  background-size: 9px 100%;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
  
  a {
    text-decoration: none;
  }
  
  span {
    margin-left: 10px;
    color: #9A9A9A;
  }
  
  &:nth-child(3n) {
    margin-right: 0;
  }
}

.catalog__selector {
  position: relative;
  width: 220px;
  max-width: 100%;
  margin-left: auto;
  margin-bottom: 30px;
}

.catalog__selector-btn {
  width: 100%;
  height: 30px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  border-radius: 4px;
  background-color: #c4aa97;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAHCAYAAADebrddAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAFiUAABYlAUlSJPAAAAAZdEVYdFNvZnR3YXJlAEFkb2JlIEltYWdlUmVhZHlxyWU8AAAAcUlEQVQoU2P4//8/z79//24CabwAqCaXAQSADBMg/gUVxwBAuS1AihGsGASAAmUQKVQAFH8OxGJQZRAAFGcCCu6BKIEAIB8EPKBKUAFQQhqI30DVghT3QaWwA6CaAKjCC0DMDhXGDUAmArEmlAsFDAwAUY+vRNWATzgAAAAASUVORK5CYII=');
  background-repeat: no-repeat;
  background-size: 11px 7px;
  background-position: right 15px center;
  cursor: pointer;
  .transition();
  
  &:hover,
  &:active {
    color: #fff;
    background-color: #b0917a;
    .transition();
  }
}

.catalog__selection {
  display: none;
  position: absolute;
  z-index: 50;
  top: 100%;
  left: 0;
  right: 0;
  .reset();
  list-style: none;
  background-color: #f1f1f1;
  border-radius: 4px;
  
  li {
    border-bottom: 1px solid #c4aa97;
    
    &:last-child {
      border-bottom: 0;
    }
  }
}

.catalog__option {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: @green;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  
  &--active {
    color: @red;
  }
}

.catalog__filter {
  width: 100%;
  padding: 15px;
  margin-bottom: 30px;
  font-size: 14px;
  color: #988475;
  
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAyCAMAAAHO9THaAAAAdVBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAANDQ0AAAAAAAAAAAAdHR0HBweJiYl6enpwcHCtra1hYWGhoaGcnJyenp7W1tbNzc3Ly8vw8PDn5+fv7+/w8PD39/fu7u739/f4+Pj19fX7+/v+/v7////A7FUcAAAAJ3RSTlMDBAYHCAkKCwwNDQ8REhIZGx8iJScoKSlBREVsdnmCiIuYmJqir7NBxqBCAAAAdUlEQVQoz9WOyQ6CMABEh1qkdUUFFHekff//iR4kLnAz8WBmySSTSUZKBB+0VhfxhkArYKBs3J8OWS/kAs1M0M2+8BpYymxyowrWela/tghH+XjKNHLbwG3lU5UBgKZ4nHvd/NsUu3CV30fgPJ8qsW53mKRGd9GBPkCfbqHIAAAAAElFTkSuQmCC');
  background-repeat: repeat-x;
  background-size: 9px 100%;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
}

.catalog__sort {
  position: relative;
  margin-left: 20px;
  
  
  
  &--active {
    color: @red;
    text-decoration: none;
  }
  
  &--up,
  &--down {
    &::after {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 11px;
      height: 7px;
      margin-left: 5px;
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAHCAYAAADebrddAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAFiUAABYlAUlSJPAAAAAZdEVYdFNvZnR3YXJlAEFkb2JlIEltYWdlUmVhZHlxyWU8AAAAgUlEQVQoU2O4oiXKc0tF9uYtVdn/+PBNVZlcBhC4ri5rcktF5hc2RWCsIrPlPwMDI1gxCAAFyrApBJr4/I6SkhhUGQQAdTIBNexBVSj777ayjAdUCSoAmiINdP8bJFP7oFLYwQ01mQCwYhXZC7dUVNihwrgByMSbqvKaUC4UMDAAAEe+VthQDTQBAAAAAElFTkSuQmCC');
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  
  &--up::after {
    transform: rotate(180deg);
  }
}
