.form__field {
  .reset();
  border: 0;
}

.form__label {
  display: block;
  margin-bottom: 5px;
  margin-top: 5px;
  
  span {
    color: #f1091f;
  }
}

.form__message,
.form__input {
  display: block;
  padding: 4px 6px;
  width: 100%;
  border: 1px solid #b1b1b1;
}

.form__input {
  height: 34px;
}

.form__message {
  height: 250px;
  min-height: 250px;
}

.form__line {
  display: flex;
  justify-content: space-between;
  
  .form__field {
    width: 47%;
  }
}

.form__captcha {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 30px;
  
  .form__field {
    width: 130px;
    margin-right: 10px;
  }
}

.form__img {
  margin-right: 10px;
}

.form__link {
  display: block;
  padding-bottom: 10px;
  font-size: 12px;
}

.form__btn-quick {
  width: 250px;
  height: 46px;
  margin-top: 20px;
  padding-right: 15px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAJCAYAAAARml2dAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAENJREFUeNpi+P///0MgNgRiBmQMIkDgKxBHYJMAgX9A3AHEzOgSMLAFiPkZ/4OlMcAmbDq2AbEAQTuwuuoRNn8ABBgACkurbGSbHfgAAAAASUVORK5CYII=');
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-size: 6px 9px;
}

.form--login {
  .form__field {
    width: 180px;
  }
}

.form__btns {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.form__btn {
  width: 180px;
  height: 46px;
  margin-right: 20px;
  margin-top: 20px;
}

.form__radio,
.form__checkbox {
  display: none;
}

.form__radio-label,
.form__checkbox-label {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 10px;
  font-weight: 500;
  
  &::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    width: 15px;
    height: 15px;
    border: 1px solid #b09987;
  }
}

.form__radio-label {
  &::before {
    border-radius: 50%;
  }
}

.form__checkbox:checked + .form__checkbox-label::before {
  background-color: #b09987;
}

.form__radio:checked + .form__radio-label::before {
  background-color: #b09987;
}

.form__delivery {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.form__slider {
  margin-bottom: 30px;
  padding-left: 25px;
  padding-right: 25px;
}

.form__slider-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.form__amount {
  width: 50px;
  color: @green;
  font-size: 12px;
  background-color: rgba(255,255,255,0);
}

.ui-slider {
	position: relative;
}
/* Ползунок */
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
	border: 6px solid @green;
	cursor: pointer;
  outline: none;
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	overflow: hidden;
}
/* горизонтальный слайдер (сама полоса по которой бегает ползунок) */
.ui-slider-horizontal {
	height: 5px;
}
/* позиционируем ползунки */
.ui-slider-horizontal .ui-slider-handle { 
	top: -8px;
	margin-left: -8px;
}
.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min { 
	left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}
/* оформление полосы по которой ходит ползунок */
.ui-widget.ui-widget-content { 
	border: 0;
	background-color: #b09987;
}
/* оформление активного участка (между двумя ползунками) */
.ui-widget-header { 
	border: 1px solid @green;
	background-color: @green;
}
/* скругление для полосы слайдера */
.ui-corner-all {
	border-radius: 4px;
}
