.header__top {
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAyCAMAAAHO9THaAAAAdVBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAANDQ0AAAAAAAAAAAAdHR0HBweJiYl6enpwcHCtra1hYWGhoaGcnJyenp7W1tbNzc3Ly8vw8PDn5+fv7+/w8PD39/fu7u739/f4+Pj19fX7+/v+/v7////A7FUcAAAAJ3RSTlMDBAYHCAkKCwwNDQ8REhIZGx8iJScoKSlBREVsdnmCiIuYmJqir7NBxqBCAAAAdUlEQVQoz9WOyQ6CMABEh1qkdUUFFHekff//iR4kLnAz8WBmySSTSUZKBB+0VhfxhkArYKBs3J8OWS/kAs1M0M2+8BpYymxyowrWela/tghH+XjKNHLbwG3lU5UBgKZ4nHvd/NsUu3CV30fgPJ8qsW53mKRGd9GBPkCfbqHIAAAAAElFTkSuQmCC');
  background-repeat: repeat-x;
  background-size: 9px 100%;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
}

.header__main,
.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list {
  .reset();
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.header__item {
  a {
    display: block;
    padding: 5px 15px;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .25);
    background-color: #c4aa97;
    border: 1px dashed #fff;
    .transition();
  }
  
  &:hover,
  &:active,
  &--active {
    a {
      color: #fff;
      background-color: #b0917a;
      .transition();
    }
  }
}

.header__main {
  margin-bottom: 30px;
  padding: 10px 15px;
  padding-bottom: 7px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAACICAMAAAF1pAHJAAAAjVBMVEUAAAD///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAANDQ0AAAAAAAAAAAAdHR2JiYl6enpwcHCtra1hYWGhoaGcnJyenp7W1tbNzc3Ly8vw8PDv7+/w8PD39/fo6Oj39/f4+Pj19fX09PT7+/v+/v7////39/f5+fn////////TPKGeAAAAL3RSTlMAAAECAwQFBgcICQoLDA0NDxESEhsfIiUnKCkpQURFbHmCiIuYmJqgoq+zusTX2egF7kUAAACbSURBVDjL7VFJDsIwEPOEdElpy74vZSmQGpr/P49DWY4oiAtSPR7Lh5E8kiECewbpQQE/jD4EIPn1XtwRIki7fo/50jmgoxWQWZYDkI/8v1Oz4chARARKa4VoNo6wJKd4HbXiIbVzV+TVLoU8AaXD2MShVoizleVpkidYWJJkOW96eDfSutb92NWuwQ35tiK5H/YRmGxd9JJI3wHrQ78pnRAlkgAAAABJRU5ErkJggg==');
  background-repeat: repeat-x;
  background-size: 9px 100%;
}

.header__info {
  width: 300px;
  text-align: center;
  font-size: 14px;
  color: rgb(53, 53, 53);
  
  p {
    margin: 0;
    max-width: 100%;
  }
  strong {
    display: block;
    font-weight: 500;
    text-transform: uppercase;
  }
}

.header__block {
  width: 350px;
}

.header__link {
  position: relative;
  padding-left: 27px;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  .transition();
  
  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  
  &--phone::before {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAABh0lEQVR42pWVvUoDQRSFJxZqlzLbWShoTKVPoBZW4hZup0XiiwQsRIiabfwhKlr5HvoURoiStUlAE1IaJXounJXruJsdL3yQ7Nw5O3fuzxqTbOvgBDyDd8UA3IEqmDGOVgZt0AcN4INF4vNZnz7lcUJ5EIIuOASFMb4F+nS4J5/kVAcfYM242yr3hElhduiQAxWwD+YdRbvc85OANkMQ2wVf5NHxpLL3BXjy5xT01J3VleAbmHMQ9JiowLA0GmpxTwn2mF0XuwC3hvXlq4VtJSiXPekouAmeYsGSWpgFnxS8AROOgiVq/REUu6KgdMbyfwUHVshiU+ABjEATLPGkEn6RUaSGfG8lJbYVnnLEl16DYybqlS9aUP7ncVKqVtnYRdtUSbI5UGUjGluGUyNShW3bNLhUidLE3XFEDS/eVFGtl2Zybzus05AdlePV/Gq92MRpmCGadM9Ddlfq+JKT1hzGVy1rfOnJE7E3JXMbLJUif5+xx6OsAWs3e8AyaKlPQIvPAp0Abd/YJHiQmcMghQAAAABJRU5ErkJggg==');
  }
  
  &--mobile::before {
    top: 0;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAUCAQAAAD10N/eAAAAxUlEQVQYGQXBsS5DYRgA0PN/fm6am0tSaQdi8ABEIhGjxdDV0BdoPIB4BGMfQSLC3gdoYhSrwcgmrQRdNA23Uc5hxaVbFQCh9uJYBUAgAQBhDQAgubFnQw14dZ5M9d1rgJkj+1ny5VoDzPS1M9o2AU3rUgAAEKgBMCfjSU8LjPyQUbsCcEJG5cyDjqED72TMjX0a+zCSCCSlQimUEoGsUFpWKSwR+DXx7c3UxIKwEHY1HVq1I/wlj+4MAHRtJR2ntgE8u/gHsaEszJglGfgAAAAASUVORK5CYII=');
  }
}

.header__place {
  margin-top: 5px;
  margin-bottom: 5px;
  
  span {
    font-size: 13px;
    margin-right: 10px;
  }
}

.header__city {
  padding-right: 22px;
  color: #b09987;
  font-size: 18px;
  text-decoration: none;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAKCAYAAABSfLWiAAAAoklEQVR42mI8smo6AxDYA/EdIH7KQDxQBGJXIJ7FAjVgO9QAByINAhlwGIilgfgLE5C4DMQ3gVgFiA9AJYg14DgQbwIZ8g6InYH4LBEGKSLJgwxwg7mEAWqQGwGDYAbIIRsAkmBCUoTPIJwGoBvCgMNrZvgMwGYICHxEM+goPgNwGYJs0CUg/gXEJ3EZAAIseKISZJAdEAsC8RtcBoAAQIABAO4ZNFBv8w9FAAAAAElFTkSuQmCC');
  background-repeat: no-repeat;
  background-size: 17px 10px;
  background-position: center right;
  .transition();
  
  &:hover,
  &:active {
    color: #b09987;
    opacity: 0.7;
    .transition();
  }
}

.header__cart {
  .title {
    margin: 0;
  }
}

.header__count {
  color: #828282;
}

.header__click {
  width: 170px;
  height: 30px;
  margin-bottom: 5px;
}

.header__buy {
  width: 170px;
  height: 30px;
}
